<!--<form [formGroup]="enForm" class="form-horizontal">
  <br>
  <br>
  <div class="form-group">
    <label for="nameNFA" class="control-label col-xs-6">Name</label>
    <div class="col-xs-6">
      <input type="text" class="form-control" id="nameNFA" name="nameNFA" formControlName="nameNFA">
    </div>
  </div>
  <div class="form-group">
    <label for="characteristicInput" class="control-label col-xs-6">Characteristic</label>
    <div class="col-xs-6">
      <input type="text" class="form-control" id="characteristicInput" name="characteristicInput" formControlName="characteristic">
    </div>
  </div>
  <div class="form-group" >
    <label for="propertyInput" class="control-label col-xs-6">Property</label>
    <div class="col-xs-6">
      <input type="text" class="form-control" id="propertyInput" name="propertyInput" formControlName="property">
    </div>
  </div>
  <div class="form-group" >
    <label for="modalVerbInput" class="control-label col-xs-6">Requirement level</label>
    <div class="col-xs-6">
       <input readonly type="text" class="form-control" id="modalVerbInput" name="modalVerb" formControlName="modalVerb">
    </div>
  </div>
  <div class="form-group" >
    <label for="qualifyingExInput" class="control-label col-xs-6">Qualifying expression</label>
    <div class="col-xs-6">
      <input readonly type="text" class="form-control" id="qualifyingExInput" name="qualifyingExInput" formControlName="qualifyingEx">
    </div>
  </div>

  <div formArrayName="valueInput">
    <label for="inputValue" class="control-label col-xs-6">Value</label>
    <div id="inputValue" class="form-group">
      <div class="col-xs-3" *ngFor="let valControl of enForm.get('valueInput').controls; let i = index">
        <input type="text" class="form-control" [id]="i" [name]="i" [formControlName]="i" readonly>
      </div>
    </div>
  </div>
 </form>-->

<div class="container" *ngIf="(theme !== 'attachPin')" id="default">
  <div *ngIf="theme == 'dragNDrop'" id="dragNDrop" [ngClass]="(hideSelectBtn && hideResetBtn) ? null : 'dragNDropBtmPad'">
    <div style="position:relative;">
      <div id="div1" (drop)="drop($event)" (dragover)="allowDrop($event)">
        <p>Drag N Drop</p>
      </div>
      <!-- <span class='label label-info' id="upload-file-info{{id}}">{{selectedFiles[0]?.name}}</span> -->
    </div>
  </div>
  <label for="sel{{id}}" class="btn btn-primary btn-sm" *ngIf="!hideSelectBtn">Select File<span *ngIf="multiple">s</span></label>
  <input type="file" id="sel{{id}}" style="display: none" *ngIf="!hideSelectBtn" (change)="onChange($event)" title="Select file" name="files[]" [accept]=formatsAllowed
         [attr.multiple]="multiple ? '' : null" />
  <button class="btn btn-info btn-sm resetBtn" (click)="resetFileUpload()" *ngIf="!hideResetBtn">Reset</button>
  <br *ngIf="!hideSelectBtn">
  <p class="constraints-info">({{formatsAllowed}}) Size limit- {{(convertSize(maxSize *1024000))}}</p>
  <!--Selected file list-->
  <div class="row" *ngFor="let sf of selectedFiles;let i=index">
    <p class="col-xs-3 textOverflow">
      <span class="text-primary">{{sf.name}}</span>
    </p>
    <p class="col-xs-3 padMarg sizeC">
      <strong>({{convertSize(sf.size)}})</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <!--  <input class="col-xs-3 progress caption"  type="text"  placeholder="Caption.."  [(ngModel)]="Caption[i]"  *ngIf="uploadClick"/> -->
    <div class="progress col-xs-3 padMarg" *ngIf="singleFile && progressBarShow && !hideProgressBar">
      <span class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width':percentComplete+'%'}">{{percentComplete}}%</span>
    </div>
    <a class="col-xs-1" role="button" (click)="removeFile(i,'sf')" *ngIf="uploadClick"><i class="fa fa-times"></i></a>
  </div>
  <!--Invalid file list-->
  <div class="row text-danger" *ngFor="let na of notAllowedList;let j=index">
    <p class="col-xs-3 textOverflow">
      <span>{{na['fileName']}}</span>
    </p>
    <p class="col-xs-3 padMarg sizeC">
      <strong>({{na['fileSize']}})</strong>
    </p>
    <p class="col-xs-3 ">{{na['errorMsg']}}</p>
    <a class="col-xs-1 delFileIcon" role="button" (click)="removeFile(j,'na')" *ngIf="uploadClick">&nbsp;<i class="fa fa-times"></i></a>
  </div>

  <p *ngIf="uploadMsg" class="{{uploadMsgClass}}">{{uploadMsgText}}<p>
  <div *ngIf="!singleFile && progressBarShow && !hideProgressBar">
    <div class="progress col-xs-4 padMarg">
      <span class="progress-bar progress-bar-success" role="progressbar" [ngStyle]="{'width':percentComplete+'%'}">{{percentComplete}}%</span>
    </div>
    <br>
    <br>
  </div>
  <button class="btn btn-success" type="button" (click)="uploadFiles()" [disabled]=!uploadBtn>{{uploadBtnText}}</button>
  <br>
</div>

<!--/////////////////////////// ATTACH PIN THEME  //////////////////////////////////////////////////////////-->
<div *ngIf="theme == 'attachPin'" id="attachPin">
  <div style="position:relative;padding-left:6px">
    <a class='btn up_btn' (click)="attachpinOnclick()">
      {{attachPinText}}
      <i class="fa fa-paperclip" aria-hidden="true"></i>
      <!-- <p style="margin-top:10px">({{formatsAllowed}}) Size limit- {{(convertSize(maxSize * 1024000))}}</p> -->
      <input type="file" id="sel{{id}}" (change)="onChange($event)" style="display: none" title="Select file" name="files[]" [accept]=formatsAllowed
             [attr.multiple]="multiple ? '' : null" />
      <br>
    </a>
    &nbsp;
    <span class='label label-info' id="upload-file-info{{id}}">{{selectedFiles[0]?.name}}</span>
  </div>
</div>




