<div class="row">
  <div class="col-xs-12" >
    <button type="button" class="btn btn-danger" (click)="onCancel()">Project: {{project.customerName}}</button>
    <button class="btn btn-success pull-right" (click)="AssignNfa()" > Assign NFA </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12" style="text-align: center">
    <small><span class="label label-default">NFAs von Project: {{project.customerName}}</span></small>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">

    <app-nfa-item
      *ngFor="let nfaCatalogEl of nfaCatalogs let i = index"
      [nfaCatalog]="nfaCatalogEl"
      [index]="i"></app-nfa-item>
  </div>
</div>
