<div *ngIf="project">
  <div class="row">
    <div class="col-xs-12" >
      <button type="button" class="btn btn-default" (click)="onCancel()">Project: {{project.customerName}}</button><!--TODO Translate-->
      <button class="btn btn-success pull-right" (click)="AssignNfa()" > Assign NFA </button><!--TODO Translate-->
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12" style="text-align: center">
      <small><span class="label label-default">NFAs von Project: {{project.customerName}}</span></small><!--TODO Translate-->
    </div>
  </div>
  <hr>
  <div class="row">
    <div  *ngFor="let nfaCatalogEl of nfaCatalogs let i = index">
    <div class="col-xs-10">
      <app-nfa-item
        [nfaCatalog]="nfaCatalogEl"
        [index]="i"></app-nfa-item>
    </div>
      <div class="col-xs-2">
        <button type="button" class="btn btn-danger" style="margin-top: 10px" (click)="onAddOrRemove(nfaCatalogEl)">X </button>
      </div>

      <!--<div class="col-xs-2">-->
        <!--<button type="button" class="btn btn-danger" style="margin-top: 10px" (click)="onEditNFA(nfaCatalogEl)"><span class="glyphicon glyphicon-pencil"></span></button>-->
      <!--</div>-->


    </div>
  </div>
</div>
