<h2>{{'nfa.new-project.create-nfa-project' | translate }}</h2>
<div class ="div1">
  <form (ngSubmit)="onSubmit()" (input)="clearMessage()">
    <label>{{'nfa.new-project.customer-name' | translate }}</label>
    <input type="text"
           class="txt"
           name="customerName"
           placeholder="{{'nfa.new-project.customer-name-example' | translate }}"
           style="float:right"
           [(ngModel)]="project.customerName">
    <br><br>
    <label>{{'nfa.new-project.contact-person-customer' | translate }}</label>
    <input type="text"
           class="txt"
           name="contactPersCustomer"
           placeholder="{{'nfa.new-project.contact-person-customer-example' | translate }}"
           style="float:right"
           [(ngModel)]="project.contactPersCustomer">
    <br><br>
    <label>{{'nfa.new-project.contact-person-msg' | translate }}</label>
    <input type="text"
           class="txt"
           name="contactPersMsg"
           placeholder="{{'nfa.new-project.contact-person-msg-example' | translate }}"
           style="float:right"
           [(ngModel)]="project.contactPersMsg">
    <br><br>

    <label>{{'nfa.new-project.branch.label' | translate }}</label>
    <select name="branch" style="float:right" [(ngModel)]="project.branch">
      <option value="" disabled>{{'nfa.new-project.branch.choose' | translate }}</option>
      <option value="Public Sector">{{'nfa.new-project.branch.public-sector' | translate }}</option>
      <option value="Automotive">{{'nfa.new-project.branch.automotive' | translate }}</option>
      <option value="Banking">{{'nfa.new-project.branch.banking' | translate }}</option>
    </select><br><br><br>
    <label>{{'nfa.new-project.project-type.label' | translate }}</label>
    <select name="projectType" style="float:right" [(ngModel)]="project.projectType">
   	 <option value="" disabled>{{'nfa.new-project.project-type.choose' | translate }}</option>
      <option value="Communication project">{{'nfa.new-project.project-type.communication' | translate }}</option>
      <option value="Data exchange project">{{'nfa.new-project.project-type.exchange' | translate }}</option>
    </select><br><br><br>
    <label>{{'nfa.new-project.development-process.label' | translate }}</label>
    <select name="developmentProcess" style="float:right" [(ngModel)]="project.developmentProcess">
      <option value="" disabled>{{'nfa.new-project.development-process.choose' | translate }}</option>
      <option value="Agile">{{'nfa.new-project.development-process.agile' | translate }}</option>
      <option value="Classic">{{'nfa.new-project.development-process.classic' | translate }}</option>
    </select><br><br><br>
    <label>{{'nfa.new-project.project-phase.label' | translate }}</label>
    <select name="projectPhase" style="float:right" [(ngModel)]="project.projectPhase">
     <option value="" disabled>{{'nfa.new-project.project-phase.choose' | translate }}</option>
    <option value="Specification Sheet">{{'nfa.new-project.project-phase.specification' | translate }}</option>
    <option value="Requirements Specification">{{'nfa.new-project.project-phase.requrements' | translate }}</option>
    </select><br><br><br>
    <label>Selecting NFAs</label>
    <select name="NFAlists"[(ngModel)]="project.NFAlists">
      <option *ngFor ="let NFA of nfas">{{nfa.name}}</option>
    </select>
    <button (click)="onSelect(NFAs)">choose NFA</button>
    <div *ngIf="onSelect(NFAs)">
    <h2>{{ selectedNFAs.name }} Details</h2>
     <input type="text"
            class="txt"
            name="contactPersCustomer"
            style="float:right"
            placeholder="name"
            [(ngModel)]="selectedNFAs.name">
    </div>
    <table style="width: 100%">
    	<tr>
    		<td align="left" style="color: purple; font-style: italic;">{{messageField}}</td>
    		<td align="right">
    			<button class="btn " type="submit" style="float:right">Create new project</button>
    		</td>
    	</tr>
    </table>
  </form>
</div>
