<<<<<<< HEAD
#div1{ margin-top:20px;
  width:60%;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
=======
#div1{ margin-top:20px;
  width:60%;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
}
>>>>>>> branch 'master' of https://github.com/AMOSTeam1/NFA-Tool
