<h2>Create NFA-Project</h2>
<div class ="div1">
  <form>
    <label>Customer name</label>
    <input type="text" class="txt" name="item" placeholder="Government Agency for Work"style="float:right"><br><br>
    <label>Contact person for government agency</label>
    <input type="text" class="txt" name="item" placeholder="John Doe"style="float:right"><br><br>
    <label>Contact person for msg</label>
    <input type="text" class="txt" name="item" placeholder="Thomas Rauch"style="float:right"><br><br>
  </form>
  <select>
    <option value="" disabled selected>Branch</option>
    <option value="Public Sector">Public Sector</option>
    <option value="Automotive">Automotive</option>
    <option value="Banking">Banking</option>
  </select><br>
  <input type="checkbox">Public Sector<br>
  <input type="checkbox">Automotive<br>
  <input type="checkbox">Banking<br><br>

  <select>
    <option value="" disabled selected>Project type</option>
    <option value="Communication project">Communication project</option>
    <option value="Data exchange project">Data exchange project</option>
  </select><br>
  <input type="checkbox">Communication project<br>
  <input type="checkbox">Data exchange project<br><br>

  <select>
    <option value="" disabled selected>development process</option>
    <option value="Agile">Agile</option>
    <option value="Classic">Classic</option>
  </select><br>
  <input type="checkbox">Agile<br>
  <input type="checkbox">Classic<br><br>
  <select>
    <option value="" disabled selected>Project phase</option>
    <option value="Specification Sheet">Specification Sheet</option>
    <option value="Requirements Specification">Requirements Specification</option>
  </select><br>
  <input type="checkbox">Specification Sheet<br>
  <input type="checkbox">Requirements Specification<br><br>
</div>

<input id ="anlegen" type="submit" class="btn" value="Create NFA-Projekt" style="float:right">
