<div class="container color-dark">
  <div class="col">
    <p>It is dangerous to go alone for NFR project. Take this...</p>
  </div>
  <div class="col">
    <p>Just lets pretend here we have some Zelda refences in image, alright?</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Write the name of your project, mate. Do it!</p>

    <form>
      <input type="text" class="txt" name="item" placeholder="Another weird customers request">
      <input type="submit" class="button" value="Add">
    </form>
  </div>

</div>
