<head xmlns="http://www.w3.org/1999/html">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
<div class="container">
  <form>
    <div class="row">
    <!--------Deutsch Form----->
    <div class="col-md-6">
       <app-denfaform></app-denfaform>
    </div>
   <!---------Englisch Form-------->

    <div class="col-md-6">
       <app-ennfaform></app-ennfaform>
    </div>
  </div>

  <!---Blueprint Deutsch -->

 <div class="row" *ngIf="!deComponent.deForm.get('chbox').value">
    <div class="col-xs-5"></div>
    <div class="bptdiv col-xs-1">
      <span class="bpt">muss</span>
      <span class="bpt">müssen</span>
      <span class="bpt">soll</span>
    </div>
    <div class="col-xs-6"></div>
  </div>
    <div class="row">
  <div class="col-xs-2">
    <span class="bpt" *ngIf="hasValue(deComponent.deForm.get('characteristic')); else charactDE">{{deComponent.deForm.get('characteristic').value}}</span>
    <ng-template #charactDE><span class="bpt">Eigenschaft</span></ng-template>
  </div>
    <div class="col-xs-3">
      <span class="bpt"*ngIf="hasValue(deComponent.deForm.get('property')); else propDE">{{deComponent.deForm.get('property').value}}</span>
      <ng-template #propDE><span class="bpt">Betrachtungsgegenstand</span></ng-template>
    </div>
  <div class="col-xs-1 bptdiv"><span class="bpt" *ngIf="!deComponent.deForm.get('chbox').value; else verbDE">sollen</span>
    <ng-template #verbDE>
      <span class="bpt">{{deComponent.deForm.get('modalVerb').value}}</span>
    </ng-template>
  </div>

      <div class="col-xs-2">
        <div *ngIf="hasValue(this.deComponent.deForm.get('qualifyingEx')); else qualDE">
          <div *ngIf="hasAbundant(); else onlyValue">
            <div class="bpt">{{fullQualExprDe()[0]}}</div>
            <div class="bpt">{{fullQualExprDe()[1]}}</div>
          </div>
          <ng-template #onlyValue>
            <span class="bpt">{{fullQualExprDe()[0]}}</span>
          </ng-template>
        </div>
        <ng-template #qualDE>
                    <span class="bpt">Vergleichsop</span>
        </ng-template>
      </div>

      <div class="col-xs-2">
        <div *ngIf="deComponent.deForm.get('chbox').value; else valueDE">
          <div *ngIf="(deComponent.deForm.get('valueInput')).length===2; else onlyValueInp">
            <div class="bpt">{{getValue(0)}}</div><div class="bpt">{{getValue(1)}}</div>
          </div>
          <ng-template #onlyValueInp>
        <span class="bpt" >{{getValue(0)}}</span>
          </ng-template>
        </div>
        <ng-template #valueDE>
          <span class="bpt">Wert</span>
        </ng-template>
      </div>

    <div class="col-xs-2"><span class="bpt" *ngIf="hasValue(deComponent.deForm.get('verb')); else verbenDE">{{deComponent.deForm.get('verb').value + '.'}}</span>
      <ng-template #verbenDE>
        <span class="bpt">sein / betragen</span>
      </ng-template>
    </div>
    </div>
  <div class="row" *ngIf="!deComponent.deForm.get('chbox').value">
    <div class="col-xs-5"></div>
    <div class="col-xs-1 bptdiv">
      <span class="bpt">kann</span>
      <span class="bpt">können</span></div>
    <div class="col-xs-6"></div>
  </div>
    <br>

    <!---English Blueprint-->

    <div class="row" *ngIf="!deComponent.deForm.get('chbox').value">
      <div class="col-xs-5"></div>
      <div class="bptdiv col-xs-1">
        <span class="bpt">shall</span>
      </div>
      <div class="col-xs-6"></div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <span class="bpt" *ngIf="hasValue(enComponent.enForm.get('characteristic')); else charactEN">{{enComponent.enForm.get('characteristic').value}}</span>
        <ng-template #charactEN>
          <span class="bpt">Characteristic</span>
        </ng-template>
      </div>
      <div class="col-xs-3">
        <span class="bpt"*ngIf="hasValue(enComponent.enForm.get('property')); else propEN">{{enComponent.enForm.get('property').value}}</span>
        <ng-template #propEN>
          <span class="bpt">Property</span>
        </ng-template>
      </div>
      <div class="col-xs-1 bptdiv"><span class="bpt" *ngIf="!deComponent.deForm.get('chbox').value; else verbEN">should</span>
        <ng-template #verbEN>
          <span class="bpt">{{enComponent.enForm.get('modalVerb').value}}</span>
        </ng-template>
      </div>
      <div class="col-xs-2"><span class="bpt">be</span>
      </div>

      <div class="col-xs-2">
        <div *ngIf="hasValue(this.deComponent.deForm.get('qualifyingEx')); else qualEn">
          <div *ngIf="hasAbundant(); else onlyValueEn">
            <div class="bpt">{{fullQualExprEn()[0]}}</div>
            <div class="bpt">{{fullQualExprEn()[1]}}</div>
          </div>
          <ng-template #onlyValueEn>
            <span class="bpt">{{fullQualExprEn()[0]}}</span>
          </ng-template>
        </div>
        <ng-template #qualEn>
          <span class="bpt">QualExpr</span>
        </ng-template>
      </div>

      <div class="col-xs-2">
        <div *ngIf="deComponent.deForm.get('chbox').value; else valueEN">
          <div *ngIf="(deComponent.deForm.get('valueInput')).length===2; else onlyValueInp">
            <div class="bpt">{{getValue(0)}}</div>
            <div class="bpt">{{getValue(1) ? getValue(1) + '.' : ''}}</div>
          </div>
          <ng-template #onlyValueInp>
            <span class="bpt">{{getValue(0) ? getValue(0) + '.' : ''}}</span>
          </ng-template>
        </div>
        <ng-template #valueEN>
          <span class="bpt">Value.</span>
        </ng-template>
      </div>
    </div>
    <div class="row" *ngIf="!deComponent.deForm.get('chbox').value">
      <div class="col-xs-5"></div>
      <div class="col-xs-1 bptdiv">
        <span class="bpt">can</span>
      </div>
      <div class="col-xs-6"></div>
    </div>

    <table>
    <tr>
      <td>
        <button class="btn btn-default" type="reset" (click)="Reset()">Cancel</button>
      </td>
    </tr>
  </table>
</form>
</div>
</body>

