<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand" id="logo"><img src="favic_small.ico"></a>
      <a routerLink="/" class="navbar-brand">{{ 'nfa.nfa-title' | translate}}</a>

    </div>

    <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li routerLinkActive="active"><a routerLink="/curr-projects"><em>{{ 'nfa.header.create-project' | translate }}</em></a></li>
           <li routerLinkActive="active"><a routerLink="/nfacatalog/list"><em>{{ 'nfa.header.open-catalog' | translate }}</em></a></li>
           <li routerLinkActive="active"><a routerLink="/newnfa"><em>{{ 'nfa.header.create-nfa-entry' | translate }}</em></a></li>

           <!-- New Package is omitted since it is not functional yet -->
           <!--<li routerLinkActive="active"><a routerLink="/newpackage"><em>{{ 'nfa.header.create-package' | translate }}</em></a></li>-->
         </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- Language Selection is omitted since the page is not fully translated yet -->
        <!--<li style="cursor: pointer"><a type="button" (click)="useLanguage('en')"><img style="width: 30%" src="en-48x48.png"> EN</a></li>-->
        <!--<li style="cursor: pointer"><a type="button" (click)="useLanguage('de')"><img style="width: 30%" src="ger-48x48.png"> DE</a></li>-->
      </ul>
     </div>
   </div>
 </nav>
