<hr>
<div class="row" *ngIf="!showLoading">
  <div class="col-xs-12">
    <div *ngFor="let factor of nfaFactors let i = index">
      <a class="list-group-item clearfix"
         style="cursor: pointer;"
         [class.active] = "i === factor_id_param"
         (click)="showCriteria(i)">
          <h5 class="list-group-item-heading">{{factor.factorNumber}}. {{ factor.factor}}</h5>
        <span class="pull-right"></span>
      </a>
      <div *ngIf="factor_id_param === i">
      <app-nfacatalog-criteria-item
        *ngFor="let nfaCriteriaEl of factor.criteriaList let j = index"
        [nfaCriteria]="nfaCriteriaEl"
        [nfaFactorNumber]="factor.factorNumber"
        [index]="j"
      ></app-nfacatalog-criteria-item>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="showLoading">
  <div class="col-xs-12">
    <app-wave-bar></app-wave-bar>
  </div>
</div>
