
<div class="row">
  <div class="col-xs-12" style="text-align: center">
    <small><span class="label label-default">NFA Details</span></small>
  </div>
</div>
<hr>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Erklaerung</h3>
  </div>
  <div class="panel-body">
    <p class="small">{{nfa.nfaCatalogErklaerung}}</p>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Referenz</h3>
  </div>
  <div class="panel-body">
    <p class="small">{{nfa.nfaCatalogReferenz}}</p>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Projekte, in denen die NFA gefordert wurde</h3>
  </div>
  <div class="panel-body">
    <p class="small">{{nfa.nfaCatalogReferenzierteProjekte}}</p>
  </div>
</div>


