
<div class="row">
  <div class="col-xs-12" style="text-align: center">
    <small><span class="label label-default">{{'nfa.assign-nfa.details' | translate }}</span></small>
  </div>
</div>
<hr>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{'nfa.assign-nfa.explanation' | translate }}</h3>
  </div>
  <div class="panel-body">
    <p class="small">{{nfa.nfaCatalogErklaerung}}</p>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{'nfa.assign-nfa.reference' | translate }}</h3>
  </div>
  <div class="panel-body">
    <p class="small">{{nfa.nfaCatalogReferenz}}</p>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{'nfa.assign-nfa.related-projects' | translate }}</h3>
  </div>
  <div class="panel-body">
    <p class="small">{{nfa.nfaCatalogReferenzierteProjekte}}</p>
  </div>
</div>


