<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!projectForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="customerName"><small>Customer Name</small></label>
            <input type="text"
                   id="customerName"
                   formControlName="customerName"
                   class="form-control">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="customerContact"><small>customerContact</small></label>
            <input type="text"
                   id="customerContact"
                   formControlName="customerContact"
                   class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="msgContact"><small>msgContact</small></label>
            <input type="text"
                   id="msgContact"
                   formControlName="msgContact"
                   class="form-control">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="branch"><small>{{'nfa.new-project.branch.label' | translate }}</small></label>
            <select  id="branch" formControlName="branch" class="form-control">
              <option value="" disabled>{{'nfa.new-project.branch.choose' | translate }}</option>
              <option value="Public Sector">{{'nfa.new-project.branch.public-sector' | translate }}</option>
              <option value="Automotive">{{'nfa.new-project.branch.automotive' | translate }}</option>
              <option value="Banking">{{'nfa.new-project.branch.banking' | translate }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="devProcess"><small>{{'nfa.new-project.development-process.label' | translate }}</small></label>
            <select  id="devProcess" formControlName="devProcess" class="form-control">
              <option value="" disabled>{{'nfa.new-project.development-process.choose' | translate }}</option>
              <option value="Agile">{{'nfa.new-project.development-process.agile' | translate }}</option>
              <option value="Classic">{{'nfa.new-project.development-process.classic' | translate }}</option>
            </select>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="projectPhase"><small>{{'nfa.new-project.project-phase.label' | translate }}</small></label>
            <select  id="projectPhase" formControlName="projectPhase" class="form-control">
              <option value="" disabled>{{'nfa.new-project.project-phase.choose' | translate }}</option>
              <option value="Specification Sheet">{{'nfa.new-project.project-phase.specification' | translate }}</option>
              <option value="Requirements Specification">{{'nfa.new-project.project-phase.requrements' | translate }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="projectStatus"><small>projectStatus</small></label>
            <select  id="projectStatus" formControlName="projectStatus" class="form-control">
              <option value="" disabled>choose</option>
              <option value="On Process">On Process</option>
              <option value="Archived">Archived</option>
            </select>
          </div>
        </div>
      </div>
      <h3 style="text-align: center"> Project Types</h3>
      <hr>
      <div class="row">
        <div class="col-xs-12" formArrayName="types">
          <div class="row" *ngFor="let questionCtrl of getControls(); let i = index" [formGroupName]="i" style="margin-top: 10px;">
            <div class="col-xs-6">
              <div class="form-group">
                <select class="form-control" id="id" formControlName="id">
                  <option *ngFor="let typeEl of types; let j = index" [value]="typeEl.id">{{typeEl.name}}</option>
                </select>
              </div>
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteType(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button type="button" class="btn btn-success" (click)="onAddType()"> <span class="glyphicon glyphicon-plus"> </span> Add Type</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
