
body {
  background-color: white;
  padding: 3em;
  font-family:  'Times New Roman';
  color:#fff;
}
ul {
  list-style-type:none;
  margin:0 0 2em 0;
  padding:0;


}
ul li {
  display:inline;
  margin-right: 30px;
  border: 40px;
  padding: 25px;
  background: gray;



}
ul li a {
  font-size: 1.5em;
}
a {
  color:white;
  text-decoration:none;
}
