<!--The content below is only a placeholder and can be replaced.-->

<div class="jumbotron">
  <div class="container">
      <div class="col-xs-7">
        <h2><strong>{{ 'nfa.home.welcome' | translate:{'name': title } }}!</strong></h2>
        
        <h4 class="small">{{ 'nfa.home.subheading' | translate }}</h4>
        <button class="btn btn-primary"style="margin-top: 5px" (click)="onClick()">{{ 'nfa.home.current-projects' | translate }}</button>
      </div>
      <div class="col-xs-5 text-center">
        <img width="300" alt="NFA Logo" src="logo.png">
      </div>
  </div>
</div>

<hr>
<div class="row">
  <div class="col-sm-6 col-md-4">
      <div class="caption text-center">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        <h4 class="small">{{ 'nfa.home.thumbnail-1' | translate }}</h4>
      </div>
  </div>
  <div class="col-sm-6 col-md-4">
      <div class="caption text-center">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        <h4 class="small">{{ 'nfa.home.thumbnail-2' | translate }}</h4>
      </div>

  </div>
  <div class="col-sm-6 col-md-4">
      <div class="caption text-center">
        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
        <h4 class="small">{{ 'nfa.home.thumbnail-3' | translate }}</h4>
      </div>
  </div>
</div>
<hr>

