<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12" style="text-align:center">
      <h1>{{ 'nfa.home.welcome' | translate:{'name': title } }}</h1>
      <img width="400" alt="NFA Logo" src="logo.png">
      <hr id="uline">
      <div class="col-xs-12 col-sm-4 col-md-4 col-sm-offset-1 col-md-offset-4">
        <button class="btn btn-danger col-xs-12"style="margin-top: 5px" (click)="onClick()">{{
          'nfa.home.current-projects' | translate }}</button>
      </div>
    </div>
  </div>
</div>

