<div class="row" *ngIf ="onView">
  <div class="col-xs-12" *ngIf="isSelected==true">
    <button class="btn btn-default btn-lg col-xs-1" (click)="onPrev()" [disabled] = "metricIdx == 0"> < </button>
    <button class="btn btn-success btn-lg col-xs-10"
            style="text-align: center"
            (click)="onView = !onView">
      {{factor.factorNumber}}.{{criteria.criteriaNumber}}.{{nfaMetrics[metricIdx].metricNumber}}
      {{nfaMetrics[metricIdx].bezeichnung}}</button>
    <button class="btn btn-default btn-lg col-xs-1" (click)="onNext()" [disabled] = "metricIdx == nfaMetrics.length-1"> > </button>
  </div>
  <div class="col-xs-12" *ngIf="isSelected==false">
    <button class="btn btn-default btn-lg col-xs-1" (click)="onPrev()" [disabled] = "metricIdx == 0"> < </button>
    <button class="btn btn-default btn-lg col-xs-10"
            style="text-align: center"
            (click)="onView = !onView">
      {{factor.factorNumber}}.{{criteria.criteriaNumber}}.{{nfaMetrics[metricIdx].metricNumber}}
      {{nfaMetrics[metricIdx].bezeichnung}}</button>
    <button class="btn btn-default btn-lg col-xs-1" (click)="onNext()" [disabled] = "metricIdx == nfaMetrics.length-1"> > </button>
  </div>
</div>

<div class="col-xs-12" *ngIf="!onView">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" >{{ 'nfa.metric' | translate }}</h3>
    </div>
    <div class="panel-body">
      <div class="row text-center" *ngFor="let metric of nfaMetrics; let j = index">
        <button class="btn btn-default small"  style="margin:0 0 1px" (click)="onGoto(j)">
          {{factor.factorNumber}}.{{criteria.criteriaNumber}}.{{metric.metricNumber}} {{metric.bezeichnung}}
        </button>
        <hr>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="panel panel-primary" *ngIf ="onView">
  <div class="panel-heading">
    <h3 class="panel-title" >{{ 'nfa.catalog.explanation' | translate }}</h3>
  </div>
  <div class="panel-body">
    <p class="small" >{{nfaMetrics[metricIdx].erklaerungMessgroesse}}</p>
  </div>
</div>
<div class="panel panel-primary" *ngIf ="onView">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'nfa.catalog.formula' | translate }}</h3>
  </div>
  <div class="panel-body">
    <p class="small">{{nfaMetrics[metricIdx].formel}}</p>
  </div>
</div>
<div class="panel panel-primary" *ngIf ="onView">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'nfa.catalog.interpretation' | translate }}</h3>
  </div>
  <div class="panel-body">
    <p class="small">{{nfaMetrics[metricIdx].interpretation}}</p>
  </div>
</div>
<div class="row" *ngIf ="onView">
  <div class="col-xs-12 text-center">
    <button type="button" class="btn btn-primary" (click)="onNfa()">{{ 'nfa.catalog.view-nfa' | translate }}</button>
  </div>
</div>
