<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="nfaform" >
      <div class="row">
        <div class="col-xs-12 text-center">
          <small><span class="label label-default">{{ 'nfa.assign-nfa.heading' | translate }}</span></small>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="facto"><small>{{ 'nfa.factor' | translate }}</small></label>
            <select formControlName ="factor" class="form-control" id="facto" name="factor" required  [(ngModel)]='selectedFactor' (change)="updateFactor()">
              <option *ngFor="let fac of nfaFactors" [ngValue]="fac">{{fac.nfa_id}}. {{fac.factor}}</option>
            </select>
          </div></div></div>

      <div class="row" *ngIf="factorHasCriteria()">
        <div class="col-xs-10">
          <div class="form-group">
              <label for="criteri"><small>{{ 'nfa.criteria' | translate }}</small></label>
              <select formControlName ="criteria" class="form-control" id="criteri" name="criteria" required [(ngModel)]='selectedCriteria' (change)="updateCriteria()">
                <option *ngFor="let crit of selectedFactor.criteriaList" [ngValue]="crit">{{selectedFactor.nfa_id}}.{{crit.criteriaNumber}} {{crit.criteria}}</option>
              </select>
          </div></div></div>

      <div class="row" *ngIf="criteriaHasMetric()">
        <div class="col-xs-10">
          <div class="form-group">
              <label for="metri"><small>{{ 'nfa.metric' | translate }}</small></label>
              <select formControlName ="metric" class="form-control" id="metri" name="metric" required [(ngModel)]='selectedMetric'>
                <option *ngFor="let met of selectedCriteria.metricList" [ngValue]="met">{{selectedFactor.nfa_id}}.{{selectedCriteria.criteriaNumber}}.{{met.metricNumber}} {{met.bezeichnung}}</option>
              </select>
          </div></div></div>
    </form>
    <div *ngIf="MetricHasNfa()">
    <div class="row" *ngFor="let nfa of selectedMetric.nfaList let i = index">
      <hr>
      <div class="col-xs-10 small">
        {{selectedFactor.nfa_id}}.{{selectedCriteria.criteriaNumber}}.{{selectedMetric.metricNumber}}.{{nfa.nfaNumber}} {{nfa.nfaCatalogBezeichnung}}
      </div>
      <div class="col-xs-2" *ngIf="!isAlreadyAdded(nfa)">
        <button type="button" class="btn btn-success" (click)="onAddOrRemove(nfa)">+</button>
      </div>
      <div class="col-xs-2" *ngIf="isAlreadyAdded(nfa)">
        <button type="button" class="btn btn-danger" (click)="onAddOrRemove(nfa)">X</button>
      </div>
    </div>
    </div>
  </div>
</div>
