<form [formGroup]="nfaform" (ngSubmit) = "onSubmit()">

  <p class="sm">Factors</p>
  <select formControlName ="factor" name="factor" required [(ngModel)]='selectedFactor'>
    <!--<option value="factor_none">None</option>-->
    <option *ngFor="let fac of nfaFactors" [value]="fac.factor">{{fac.nfa_id}}. {{fac.factor}}</option>
  </select> <br/> <br/>

  <!--<div [hidden]="selectedFactor">-->
    <p class="sm" id="criteriaSelect">Criteria</p>
    <select formControlName ="criteria" name="criteria" required [(ngModel)]='selectedCriteria'>
      <option *ngFor="let crit of selectedFactor.criteriaList" [value]="crit.criteria">{{selectedFactor.nfa_id}}.{{crit.criteriaId}} {{crit.criteria}}</option>
      <option value="criteria_1">Criteria 1</option>
      <option valur="criteria_2">Criteria 2</option>
      <option value="criteria_3">Criteria 3</option>
    </select> <br/> <br/>
  <!--</div>-->
  <!--<div [hidden]="!selectedCriteria">-->
    <p class="sm">Metric</p>
    <select formControlName ="metric"  name="metric">
      <option value="metric_1">Metric 1</option>
      <option value="metric_2">Metric 2</option>
      <option value="metric_3">Metric 3</option>
    </select> <br/> <br/>
  <!--</div>-->

  <p class="sm">Type</p>
  <select formControlName ="nfa_type"  name="nfa_type">
    <option value="nfa_type_1">Type 1</option>
    <option value="nfa_type_2">Type 2</option>
    <option value="nfa_type_3">Type 3</option>
  </select> <br/> <br/>

  <app-nfatemplate *ngIf="nfaform.get('nfa_type').value==='nfa_type_1'"></app-nfatemplate>
  <br/><br/>
  <input type="submit" class="button" value="Send">
</form>

