<div class="container color-dark">
  <div class="col">
    <p>{{ 'nfa.new-nfa.heading' | translate}}</p>
  </div>
</div>
<br/>
<div class="container color-light">



</div>

<form [formGroup]="nfaform" (ngSubmit) = "onSubmit()">

  <p class="sm">Factors</p>
  <select formControlName ="factor"  name="factor">
    <option value="factor_1">Factor 1</option>
    <option valur="factor_2">Factor 2</option>
    <option value="factor_3">Factor 3</option>
  </select> <br/> <br/>
  <p class="sm">Criteria</p>
  <select formControlName ="criteria"  name="criteria">
    <option value="criteria_1">Criteria 1</option>
    <option valur="criteria_2">Criteria 2</option>
    <option value="criteria_3">Criteria 3</option>
  </select> <br/> <br/>
  <p class="sm">Metric</p>
  <select formControlName ="metric"  name="metric">
    <option value="metric_1">Metric 1</option>
    <option valur="metric_2">Metric 2</option>
    <option value="metric_3">Metric 3</option>
  </select> <br/> <br/>
  <p class="sm">Type</p>
  <select formControlName ="nfa_type"  name="nfa_type">
    <option value="nfa_type_1">Type 1</option>
    <option valur="nfa_type_2">Type 2</option>
    <option value="nfa_type_3">Type 3</option>
  </select> <br/> <br/>

  <input type="submit" class="button" value="Send">

</form>
