<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewProject()" >{{ 'nfa.new-project.create-nfa-project' | translate }}</button>
  </div>
</div>
<hr>
<div class="row form-group">
  <div class="col-xs-3 small" style="text-align: center">
    <label for="search">{{ 'nfa.search-project.name' | translate }}:</label>
  </div>
  <div class="col-xs-6" style="text-align: center">
    <input id="search" class="col-xs-12 form-control" #inp>
  </div>
  <div class="col-xs-3" style="text-align: right">
    <button class="btn btn-primary" (click)="onSearch(inp)">{{ 'nfa.search-project.label' | translate }}</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-6 text-center"><label for="filter" class="small">{{ 'nfa.search-project.filter' | translate }}:</label> </div>
    <div class="col-xs-6 btn-group pull-left">
      <button type="button" id="filter" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{this.getStringByStatus(status)}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAll(inp)">{{ 'nfa.search-project.filter-all' | translate }}</a></li>
        <li><a (click)="onProcess(inp)">{{ 'nfa.project-details.project-status.on-process' | translate }}</a></li>
        <li><a (click)="onArchived(inp)">{{ 'nfa.project-details.project-status.archived' | translate }}</a></li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-project-item
      *ngFor="let projectEl of projects let i = index"
      [project]="projectEl"
      [index]="i"></app-project-item>
  </div>
</div>
