
<!--<div *ngIf="nfaFactor && criteria && metric">-->
<div>

  <div class="row" *ngIf ="onView">
    <div class="col-xs-12">
      <button class="btn btn-default btn-lg col-xs-1" (click)="onPrev()" [disabled] = "nfaIdx == 0"> < </button>
      <button class="btn btn-default btn-lg col-xs-10"
              style="text-align: center"
              (click)="onView = !onView">
        {{nfaFactor.nfa_id}}.{{criteria.criteriaNumber}}.{{metric.metricNumber}}.{{nfas[nfaIdx].nfaNumber}} {{bezeichnung(nfas[nfaIdx])}}</button>
      <button class="btn btn-default btn-lg col-xs-1" (click)="onNext()" [disabled] = "nfaIdx == nfas.length-1"> > </button>
    </div>
  </div>

  <div class="col-xs-12" *ngIf="!onView">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'nfa.assign-nfa.title' | translate }}{{metric.bezeichnung}}</h3>
      </div>
      <div class="panel-body">
        <div class="row text-center" *ngFor="let nfa of nfas; let j = index">
          <button class="btn btn-default small" style="margin:0 0 1px" (click)="onGoto(j)">
            {{nfaFactor.nfa_id}}.{{criteria.criteriaNumber}}.{{metric.metricNumber}}.{{nfa.nfaNumber}} {{bezeichnung(nfa)}}
          </button>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>

  <hr>
<div *ngIf ="onView">
  <form [formGroup]="nfadetailForm" (ngSubmit)="onSubmit()">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <label for="nfaExplanation" class="panel-title">{{ 'nfa.assign-nfa.explanation' | translate }}</label>
      </div>
      <div class="panel-body" *ngIf = "!projectMode">
        <p class="small">{{erklaerung(nfas[nfaIdx])}}</p>
      </div>
      <div class="panel-body" *ngIf = "projectMode" >
        <input type="checkbox" id="checkbox" [checked]="inProject(nfas[nfaIdx].nfaCatalogId)" (click)="selectNfa(nfas[nfaIdx])">
        <textarea
          *ngIf="editmode"
          id="nfaExplanation"
          formControlName="nfaExplanation"
          value="{{erklaerung(nfas[nfaIdx])}}"
          class="form-control small"
          style="align-self: auto"
          wrap="soft"
          cols="60"
          rows="4">
          <!--value=" {{erklaerung(nfas[nfaIdx])}}"-->
        </textarea>
        <p *ngIf="!editmode" class="small">{{erklaerung(nfas[nfaIdx])}}</p>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'nfa.assign-nfa.reference' | translate }}</h3>
      </div>
      <div class="panel-body">
        <p class="small">{{nfas[nfaIdx].reference }}</p>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ 'nfa.assign-nfa.related-projects' | translate }}</h3>
      </div>
      <div class="panel-body">
        <p class="small">{{nfas[nfaIdx].referencedProjects}}</p>
      </div>
    </div>

    <!-- Button Controls Below Right View-Area -->

    <div class="col-xs-12" *ngIf="editmode">
      <div class="col-xs-6 text-center">
        <button type="submit" class="btn btn-success" style="margin-top: 10px" [disabled]="!nfadetailForm.valid"><span class="glyphicon glyphicon-floppy-save"></span> {{'nfa.save' | translate}}</button>
      </div>
      <div class="col-xs-6 text-center">
        <button type="button" class="btn btn-danger" style="margin-top: 10px" (click)="onCancel()"><span class="glyphicon glyphicon-pencil"></span> {{'nfa.cancel' | translate}}</button>
      </div>
    </div>

    <div class="col-xs-12" *ngIf="!editmode">
      <div class="col-xs-6 text-center">
        <button type="button" class="btn btn-toolbar" style="margin-top: 10px" (click)="onEditNFA()"><span class="glyphicon glyphicon-pencil"></span> {{'nfa.edit' | translate}}</button>
      </div>
      <div class="row">
        <div class="col-xs-6 text-center">
          <button type="button" class="btn btn-primary" style="margin-top: 10px" (click)="onBack()">{{'nfa.back' | translate}}</button>
        </div>
      </div>
    </div>

  </form>
</div>
